<template>
    <div>
      <div class=" prod carregandoimg" v-if="!condicao">
        <div class="foo">
        <div class="loading"><img src="https://site.oruby.emiolo.com.br/logo.png" width="250px" height="50px"/></div>
        <img src="https://site.oruby.emiolo.com.br/logo.png" width="250px" height="50px"/>
        </div>
      </div>
      <div class="prod" v-if="condicao">
        <div class="caixaimg">
          <img class="imgcardproduto" v-bind:src="imagem" >
          <button v-if="!favorito" v-on:click="usuariofavoritou" class="botaocurtir">  <i class="far fa-heart favorito"></i></button> 
          <button v-if="favorito" v-on:click="usuariofavoritou" class="botaocurtir">  <i class="fas fa-heart favorito"></i></button> 
        </div>
        <a class="nomecardproduto" href="/inspire" >{{nome}}</a>
        <div class="textopreco">
          <p class="texto">Apartir de</p>
          <p class="preco">{{preco}} </p>
        </div>
        <div class="detalhes">
        <a href="/inspire" class="botaodetalhes"> <i class="fas fa-eye verdetalhes"></i>
          Ver detalhes
        </a>
        </div>
      </div>  
    </div>
</template>
<script>
export default {
  name:'produtos',
  props:['imagem','nome','preco'],
 data: () => ({
      condicao:false,
      favorito: false,
    }),
    methods:{ 
   carregarproduto(){
      this.condicao=!this.condicao
    },
     usuariofavoritou: function(){
      this.favorito = !this.favorito
    }
  },
  mounted: function() {
     setTimeout( () => this.carregarproduto(), 5000)
  },
}
</script>
<style>
.prod{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dedede;
}
.caixaimg{
  width: 100%;
  position: relative;
  display:flex;
  justify-content: center;
}
.imgcardproduto{
  text-align: center;
  width:250px;
  height:270px
}
.botaocurtir{
  width: 30px;
  height: 30px;
  border-radius:50%;
  background-color: #fff;
  position: absolute;
  bottom: 4px;
  right: 3px;;
}
.nomecardproduto{
  font-size:1em;
  font-weight: 600;
  margin: 10px 0px;
  color: #656565;
  cursor:pointer;
  height: 3.5em;
  text-decoration: none;
  text-align: center;

}
.textopreco{
  margin-bottom: 10px;
}
.texto{
  font-size: .8em;
}
.preco{
  color:#e97b26;
  font-size: 1.3em;
  font-weight: 700;
}
.detalhes{
  width: 100%;
  min-height: 42px;
  position: relative;
}
.verdetalhes{
  color:#fff;
  font-size: 1em;
  margin-right: 10px;
}
.botaodetalhes{
  position:absolute;
  bottom: 0;
  right: 0;
  background: #e97b26;
  color:#fff;
  font-size: .9em;
  text-decoration: none;
	
  --corner-square: 10px;
    --corner-square-side: 0;
    --corner-square-smooth: 0;
    --corner-square-angle: calc((var(--corner-square-side) + 1)*90deg + 45deg);
    --corner-square-mask: linear-gradient(var(--corner-square-angle),transparent var(--corner-square),#fff var(--corner-square-smooth));
    -webkit-mask: var(--corner-square-mask);
    mask: var(--corner-square-mask);
    padding: 15px 32px 12px;
}
.favorito{
  color:#e97b26;
  font-size: 1.7em;
  margin-right: 10px;
  text-align: center
}
.carregandoimg{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 270px;
}
.loading {
  --loading: 0;
  --translate-body: calc(1% * var(--loading));
  --translate-img: calc(-1% * var(--loading));
  position: absolute;
  filter: saturate(0);
  transform: translateX(var(--translate-body));
}
.loading img {
  transform: translateX(var(--translate-img));
}
.loading, .loading img {
  transition: transform 1s;
}

.foo, .loading {
  overflow-x: hidden;
}

.foo:hover .loading {
  --loading: 100;
}

</style>
