<template>
<div>
  <section class="topSearch">
    <a class="compras" href=#>
        <img src="carresponsivo.png" width="35px" height="35px">
        <p class="qntcarrinho">00</p>
    </a>
    <div class="local">
      <p class="cidade">Você está em:</p>
      <a  class="linkcidade" href=#>
        Juiz de Fora.MG
      </a>
    </div>
      <i class="fas fa-search pesquisaresponsivo"></i>
  </section>
  <footer class="cabecalhoresponsivo">
    <a class="linklogoresponsivo" href="/">
      <img class="logoresponsivo" src="logo.png">
    </a>
    <button v-on:click="abrirmenu" class="botaomenuhamburgue"><img v-if="!condicao" src="menuburguer.png" width="50px" height="30px"></button>
    <div v-if="condicao" class="menuresponsivo">
      <header class="cabecalhomenuresponsivo">
        <div class="usuarioresponsivo">
        <a class="user" href="#">
          <img src="user.png" width="100%" height="100%">
        </a>
        <a class="logincadastro" href="#">Entre ou cadastre-se</a>
      </div>
      <div class="categoriainformacao">
        <button v-on:click="ativa= 'A'" v-bind:class="{elementoAtivo: ativa === 'A' }" class="tituloresponsivo">CATEGORIA</button>
        <button v-on:click="ativa= 'B'" v-bind:class="{elementoAtivo: ativa === 'B' }"  class="tituloresponsivo">INFORMAÇÕES</button>
      </div>
      </header>
      <div class="caixacategoriaresponsivo" v-if="ativa === 'A'">
         <ul>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <img class="imgcategoria" src="materialbruto.svg" width="50px" height="50px"> 
            <p class="letracateresponsivo">Material Bruto</p>
          </div>
          <ul class="caixasubcategoriaresponsivo">
            <li class="subcategoriaresponsivo">Argamassas</li>
            <li class="subcategoriaresponsivo bordasubcategoriaresponsivo">Cimento</li>
          </ul>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <img class="imgcategoria" src="lamp.svg" width="30px" height="30px"> 
            <p class="subcategoriaresponsivo letracateresponsivo">Elétrico</p>
          </div>
          <ul class="caixasubcategoriaresponsivo">
            <li class="subcategoriaresponsivo">Fios</li>
            <li class="subcategoriaresponsivo bordasubcategoriaresponsivo">Disjuntores</li>
            <li class="subcategoriaresponsivo bordasubcategoriaresponsivo">Acessórios</li>
          </ul>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <img class="imgcategoria" src="cano.svg" width="30px" height="30px"> 
            <p class="letracateresponsivo">Hidráulico</p>
          </div>
          <ul class="caixasubcategoriaresponsivo">
            <li class="subcategoriaresponsivo">Tubos e Conexões</li>
            <li class="subcategoriaresponsivo bordasubcategoriaresponsivo">Torneiras</li>
            <li class="subcategoriaresponsivo bordasubcategoriaresponsivo">Caixa d'agua</li>
            <li class="subcategoriaresponsivo bordasubcategoriaresponsivo">Acessórios</li>
          </ul>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <img class="imgcategoria" src="materialbruto.svg" width="30px" height="30px"> 
            <p class="letracateresponsivo">pincel</p>
          </div>
          <ul class="caixasubcategoriaresponsivo">
            <li class="subcategoriaresponsivo"> Tintas</li>
            <li class="subcategoriaresponsivo bordasubcategoriaresponsivo">Acessórios</li>
          </ul>
        </li>
      </ul> 
      </div>
      <div class="caixacategoriaresponsivo" v-if="ativa === 'B'">
         <ul>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">MEUS PEDIDOS</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="subcategoriaresponsivo letracateresponsivo">MEUS DADOS</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">MEUS ENDEREÇOS</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">MEUS CARTÕES</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">MEUS FAVORITOS</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">QUEM SOMOS</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">NOSSAS LOJAS</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">AJUDA</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">FALE CONOSCO</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">CADASTRO LOGISTA</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">TROCA E DEVOLUÇÃO</p>
          </div>
        </li>
        <li class="categoriasubcategoria">
          <div class="categoriaresponsivo">
            <p class="letracateresponsivo">TERMOS DE USO</p>
          </div>
        </li>
      </ul> 
    </div>
    <div class="caixabotaoresponsivo">
      <button v-on:click="abrirmenu" class="botaofecharmenuresponsivo"><i class="fas fa-arrow-right fecharmenuresponsivo"></i></button>
    </div>
    </div>
  </footer>
  
</div>
</template>
<script>
  export default {
    name:'rodaperesponsivo',
    data: () => ({
      condicao:false,
      ativa:'A',
      scrolled: 0,
      elHeader: 0,
    }),
    methods:{
      abrirmenu(){
        this.condicao = !this.condicao
      },
      handleScroll() {
        this.scrolled = window.scrollY
        this.elHeader = document.getElementsByClassName('topSearch')[0]
        if (this.scrolled < this.scrolledAux) {
        
          this.elHeader.classList.add('theHeaderTop')
        } else {
          this.elHeader.classList.remove('theHeaderTop')
          this.elHeader.classList.remove('theHeaderBottom')
        }
        this.scrolledAux = this.scrolled
      },
    },
    mounted: function() {
      window.onscroll = ()  => this.handleScroll()
    },
  } 
</script>
<style>
.body{
  position: relative;
}
.cabecalhoresponsivo{
  display:none;
}
.topSearch{
  display:none;
}
@media(max-width: 857px){
  .cabecalhoresponsivo{
    background-color: #343230;
    background-image: url("/imgheader.png");
    background-size: 150%;
    background-position: 100% 70%;
    background-repeat: no-repeat;
    padding: 0.7% 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom:0;
    width: 100%;
    z-index: 1;
  }
  .logoresponsivo{
    width: 150px;
  }
  .linklogoresponsivo{
    height: 100%;
    cursor:pointer;
  }
  .menuresponsivo{
      background-color: #fff;
      position: fixed;
      bottom: 0;
      right: 0;
  }
  .cabecalhomenuresponsivo{
      background-color: #343230;
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  .usuarioresponsivo{
      display: flex;
    align-items: center;
    margin: 30px 0;
  }
  .categoriainformacao{
      display:flex;
      width: 100%;
  }
  .tituloresponsivo{
      width: 50%;
      border-bottom: 2px solid #e97b26;
      font-size: 1.1em;
      color:#fff;
      font-weight: 600;
  }
  .elementoAtivo{
      color:#e97b26;
  }
  .caixacategoriaresponsivo{
    background-color: #fff;
    width: 100%;
    padding: 40px 5%;

  }
  .categoriasubcategoria{
    padding: 15px 0;
    border-bottom: 1px solid #343434;
  }
  .categoriaresponsivo{
    display: flex;
    align-items: center;
  }
  .caixasubcategoriaresponsivo{
    display:none;
  }
  .categoriasubcategoria:hover .caixasubcategoriaresponsivo{
    display:flex;
    flex-direction: column;
  }
  .categoriasubcategoria:hover .categoriaresponsivo{
    background-color: #343434;
  }
  .letracateresponsivo{
    font-size:1.3em;
    font-weight: 600;
  }
  .categoriasubcategoria:hover .letracateresponsivo{
    color:#fff;
  }
  .subcategoriaresponsivo{
    padding: 10px 0;
  }
  .bordasubcategoriaresponsivo{
    border-top: 0.5px solid #343434;
  }
  .fecharmenuresponsivo{
    color:#fff;
    font-size: 1.2em;
  }
  .botaofecharmenuresponsivo{
    cursor: pointer;
    background-color: #e97b26;
    --corner-square: 10px;
      --corner-square-side: 0;
      --corner-square-smooth: 0;
      --corner-square-angle: calc((var(--corner-square-side) + 1)*90deg + 45deg);
      --corner-square-mask: linear-gradient(var(--corner-square-angle),transparent var(--corner-square),#fff var(--corner-square-smooth));
      -webkit-mask: var(--corner-square-mask);
      mask: var(--corner-square-mask);
      padding: 15px 32px 12px;
  }
  .caixabotaoresponsivo{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .topSearch{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      position:fixed;
      bottom: 0;
      padding: 10px 10px;
      width: 100%;
    
  }
  .theHeaderTop{
    transition: bottom .5s;
    bottom: 60px;
  }
  .localresponsivo{
    display:flex;
    align-items: center;
  }
  .cidade{
    color:#0d0d0d;
  }
  .pesquisaresponsivo{
    color:#0d0d0d;
    font-size: 20px;
  }
}
@media(max-width: 419px){
  .cabecalhoresponsivo{
    padding-left: 0;
  }
  .menuresponsivo{
    width: 100vw;
  }
}
</style>