<template>
  <div>
    <section class="menu">
      <div class="caixalogo">
        <img src="logo2.png" width="100%" height="auto" >
      </div>
      <div>
        <a class="linkmenu" href="#">AJUDA</a>
        <a class="linkmenu" href="#">FALE CONOSCO</a>
        <a class="linkmenu" href="#">CADASTRO LOJISTA</a>
        <a class="linkmenu" href="#"> CADASTRO USUÁRIO</a>
      </div>
    </section>
    <footer class="rodape">
      <div class="informacoes">
        <button v-on:click="usuarioclicou" class="maisinfo"> ABRIR MAIS INFORMAÇÕES</button>
        <div v-if="clique" class="infoescondida">
          <div class="caixainfo">
            <h3 class="tituloinfo">Institucional</h3>
            <a class="info" href="#">Quem somos</a>
            <a class="info" href="#">Contato</a>
            <a class="info" href="#">Nossas lojas</a>
            <a class="info" href="#">Dicas</a>
          </div>
          <div class="caixainfo">
            <h3 class="tituloinfo">Institucional</h3>
            <a class="info" href="#">Troca e devolução</a>
            <a class="info" href="#">Central de Atendimento</a>
            <a class="info" href="#">Termos de uso e política de privacidade</a>
          </div>
        </div>
      </div>
      <p class="contato">Pedra Sul/Petra Agregados - Endereço: Empresarial Park Sul, 70 - Matias barbosa - MG - CEP: 36120-000</p>
      <p class="contato">0800-0328100 e (32)3273-5850</p>
      <div class="redessociais">
        <a class="rede"><img src="face.png" width="35px" height="35px"></a>
        <a class="rede"><img src="instagram.png" width="35px" height="35px"></a>
        <a class="rede"><img src="linkedim.png" width="35px" height="35px"></a>
      </div>
    </footer>
  </div>
</template>
<script>
export default {
  name:'rodape',
  data: () => ({

    clique: false
  }),
  methods:{
    usuarioclicou: function(){
      this.clique = !this.clique
    }
  }  
}

</script>
<style>
  .menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7% 9%;
    background-color: #fff;
    flex-wrap: wrap;
  }
  .caixalogo{
    width: 100px;
  }
  .linkmenu{
    margin-right: 19px;
    font-size: 16px;
    font-weight: 600;
    color:#656565;
  }
  .rodape{
    background-color: #474747;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
  }
  .informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .maisinfo{
    margin-bottom: 20px;
    background-color: #eb7c00;
    color: #fdf2e5;
    padding: 10px 15px;
    font-size: .8em;
  }
  .infoescondida{
    display:flex;
  }
  .caixainfo{
    display:flex;
    flex-direction: column;
    margin: 0 20px;
  }
  .tituloinfo{
    color: #e97b00;
    font-size: 1.4em;

  }
  .info{
    color:#fff;
    font-size:.9em;
    cursor:pointer;
    margin: 4px 0;
    font-weight: 600;

  }
  .contato{
    color:#fff;
    max-width: 415px;
    text-align: center;
    font-size: .8em;
    margin-top: 20px;
  }
  .redessociais{
    margin:15px 0;
  }
  .rede{
    margin: 0 10px;
  }
  @media(max-width: 857px){
  .menu{
    display: none
  }
  .rodape{
    display: none;
  }
}
</style>