<template>
  <v-carousel>
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
    ></v-carousel-item>
  </v-carousel>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: '/baner.png'
          },
          {
            src: 'baner2.png'
          },
          {
            src: 'baner.png'
          },
          {
            src: 'baner2.png'
          }
        ]
      }
    }
  }
</script>
<style>
.theme--dark.v-btn{
  color:#e97b26;
}
.v-carousel__controls{
  background: none;
}
</style>
