<template>
  <div>
  <header class="cabecalho">
    <a class="linklogo" href="/">
      <img class="logo" src="logo.png">
    </a>
    <div class="infousuario">
      <div class="local">
        <p class="cidade">Você está em:</p>
        <a  class="linkcidade" href=#>
          Juiz de Fora.MG
        </a>
      </div>
      <a class="compras" href=#>
        <img src="carrinho.png" width="35px" height="35px">
        <p class="qntcarrinho">00</p>
      </a>
      <div class="lugarusuario">
        <a class="user" href="#">
          <img src="user.png" width="100%" height="100%">
        </a>
        <a class="logincadastro" href="#">Entre ou cadastre-se</a>
      </div>
    </div>
  </header>
  <section class="buscaecategorias">
    <div class="caixabusca">
        <input  class="busca" type="text" placeholder="Realizar busca...">
          <div class="lupa"><i class="fas fa-search iconelupa"></i></div>
    </div>
    <nav class="menucategorias">
      <ul class="categorias">
        <li class="objetocategoria">
          <div class="caixacategoria">
            <img class="imgcategoria" src="materialbruto.svg" width="30px" height="30px"> 
            <p class="letracate">Material Bruto</p>
          </div>
          <ul class="listasubcategoria">
            <li class="subcategoria">Argamassas</li>
            <li class="subcategoria bordasubcategoria">Cimento</li>
          </ul>
        </li>
        <li class="objetocategoria">
          <div class="caixacategoria bordercaixacategoria">
            <img class="imgcategoria" src="lamp.svg" width="30px" height="30px"> 
            <p class="letracate">Elétrico</p>
          </div>
          <ul class="listasubcategoria">
            <li class="subcategoria">Fios</li>
            <li class="subcategoria bordasubcategoria">Disjuntores</li>
            <li class="subcategoria bordasubcategoria">Acessórios</li>
          </ul>
        </li>
        <li class="objetocategoria">
          <div class="caixacategoria bordercaixacategoria">
            <img class="imgcategoria" src="cano.svg" width="30px" height="30px"> 
            <p class="letracate">Hidráulico</p>
          </div>
          <ul class="listasubcategoria">
            <li class="subcategoria">Tubos e Conexões</li>
            <li class="subcategoria bordasubcategoria">Torneiras</li>
            <li class="subcategoria bordasubcategoria">Caixa d'agua</li>
            <li class="subcategoria bordasubcategoria">Acessórios</li>
          </ul>
        </li>
        <li class="objetocategoria">
          <div class="caixacategoria bordercaixacategoria">
            <img class="imgcategoria" src="pincel.svg" width="30px" height="30px"> 
            <p class="letracate">Acabamento</p>
          </div>
          <ul class="listasubcategoria">
            <li class="subcategoria"> Tintas</li>
            <li class="subcategoria bordasubcategoria">Acessórios</li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
  <nuxt/>
  </div>
</template>

<script>
</script>
<style>
*{
  outline:transparent
}
 body{
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeeee;
    font-size: 16px;
}
p{
  margin:0;
}
ul{
  list-style:none;
}
.cabecalho{
  background-color: #343230;
  background-image: url("/imgheader.png");
  background-size: 150%;
  background-position: 100% 70%;
  background-repeat: no-repeat;
  padding: 0.7% 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 150px;
}
.linklogo{
  height: 100%;
  cursor:pointer;
}
.infousuario{
  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}
.cidade{
  color:#fff;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0.7% 0
}
.linkcidade{
  color:#e97b26;
  font-size: 1em;
  cursor:pointer;
  font-weight: 600;
  
}
.compras{
  display:flex;
  align-items: center;
  text-decoration: none;
 }
.qntcarrinho{
  color: #e97b26;
  font-size: 1.4em;
  font-weight: 600;
  margin-left: 5px;
  
}
.lugarusuario{
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-left: 1.5px solid #808080;
}
.user{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e97b26;
  margin-right: 10px;
  overflow: hidden;
}
.logincadastro{
  color:#fff;
  display:flex;
  justify-content: center;
  font-size: .8em;
  text-decoration:none;
  font-weight: 600;
  width: 110px;
}
.buscaecategorias{
  background-color: #fff;
  padding: 0% 9%;
  height: 61px;
  display: flex;
  justify-content: space-between;

}
.caixabusca{
  height: 100%;
  width: 340px;
  border-bottom: 2px solid #e97b26;
  display:flex;
  align-items: center;
}
::placeholder,
.busca{
  background-color:#fff;
  padding: 5% 10%;
  font-size:1.3em;
  flex: 1;
  font-weight: 400;
}
.lupa{
  background-color: #e97b26;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconelupa{
  color:#fff;
  font-size: 20px;
}
.menucategorias{
  border-bottom: 1.5px solid #343434;
}
.categorias{
  display:flex;
  height: 100%;

}
.objetocategoria{
  height: 100%;
  position: relative;
}
.caixacategoria{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bordercaixacategoria{
  border-left: .5px solid #d2d2d2
}
.listasubcategoria{
  display: none;
}
.subcategoria{
  background-color: #fff;
  padding: 3px 3px;
   font-size: 13px;
  color:#909399;
}
.bordasubcategoria{
  border-top: 1px solid #dedede;
}
.caixacategoria:hover{
  background-color: #343434;
}
.objetocategoria:hover .listasubcategoria{
  display:flex;
  flex-direction: column;
  position:absolute;
  top: 60px;
  width: 170px;
  z-index:1

}
.caixacategoria:hover .letracate{
  color: #fff
}
.caixacategoria:hover .imgcategoria{
  filter:invert(100%)
}
.bordacaixa{
  border-left: 0.5px solid #d2d2d2
}
.letracate{
  font-size: 13px;
  color:#909399;
}
.toporesponsivo{
  display:none;
}
  @media(max-width: 1032px){
  .buscaecategorias{
    padding: 0 0;
  }
}
@media(max-width: 857px){
  .cabecalho{
    display: none
  }
  .buscaecategorias{
    display: none;
  }
  .toporesponsivo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
}
.localresponsivo{
  display:flex;
  align-items: center;
}
.cidade{
  color:#0d0d0d;
}
.pesquisaresponsivo{
  color:#0d0d0d;
  font-size: 20px;
}
}

</style>
