<template>
  <div>    
    <section class="baner">
      <slidebaner/>
    </section>
    <section class="listadeprodutos">
      <div class="produtos">
        <produto v-for="produto in produtos" v-bind:imagem="produto.imagem" v-bind:nome="produto.nome" v-bind:preco="produto.preco"/>
      </div>
      <div class="maisprod">
        <button class="botaomaisprod">VER MAIS PRODUTOS</button>
      </div>
      </section>
      <rodape/>
      <rodaperesponsivo/>
   </div>
</template>
<script>
import produto from '~/components/produtos.vue'
import rodape from '~/components/rodape.vue'
import rodaperesponsivo from '~/components/rodaperesponsivo.vue'
import slidebaner from '~/components/slidebaner.vue'


export default {
  data: () => ({
    produtos:[
      {"imagem":"/prod1.jpeg", "nome":"ARGAMASSA QUARTZOLIT NIVELA RÁPIDO CINZA 20KG", "preco":"R$5,45"},
      {"imagem":"/prod2.jpeg", "nome":"FIO SÓLIDO SIL 750 V, 1,5MM, 100METROS - BRANCO", "preco":"R$0,45"},
      {"imagem":"/prod3.jpeg", "nome":"ARGAMASSA QUARTZOLIT COLANTE CIMENTCOLA INTERNO 5KG CINZA", "preco":"R$4,43"},
      {"imagem":"/prod4.jpeg", "nome":"CABO FLEXIVEL AMPÉRE DO BRASIL 2,5MM COM 100 METROS-AZUL", "preco":"R$4,53"},
      {"imagem":"/prod5.jpeg", "nome":"CABO FLEXÍVEL AMPÉRE DO BRASIL 2,5MM COM 100 METROS VERDE", "preco":"R$3,25"},
      {"imagem":"/prod6.jpeg", "nome":"CABO FLEXÍVEL SIL 750v 2,5MM 100 METROS - AMARELO", "preco":"R$0,89"},
      {"imagem":"/prod7.jpeg", "nome":"ARGAMASSA QUARTZOLIT SUPERGRAUTE 25KG", "preco":"R$0,59"},
      {"imagem":"/prod8.jpeg", "nome":"CABO FLEXÍVEL SIL - 750V 2,5MM ROLO COM 100 METROS - CINZA", "preco":"R$0,65"},
      {"imagem":"/prod9.jpeg", "nome":"CABO FLEXÍVEL SIL 2,5MM 750V AZUL", "preco":"R$0,59"},
      {"imagem":"/prod10.jpeg", "nome":"ARGAMASSA QUARTZOLIT 20KG PORCELANATO INTERNO CINZA", "preco":"R$0,45"},
    ]
  }),
  components: {
    produto,
    rodape,
    rodaperesponsivo,
    slidebaner
}
}
</script>

<style>
 
.baner{
  height:500px;
  background-image: url("/baner.png");
  background-size: cover;
}
.listadeprodutos{
  margin: 30px 0;
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.produtos{
  width: 80%;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 15px;
}
.maisprod{
  margin: 30px 0;
}
.botaomaisprod{
  background-color: #343434;
  color: #fff;
  padding: 10px 15px;
  font-size: 11px;
}
@media(max-width: 857px){
  .maisprod{
    margin-bottom: 55px;
  }
}

</style>