<template>
  <div>
    <section class="comprarproduto">
      <div class="caixaproduto">
        <div class="caixaimagem">
          <img class="imagemdoproduto" src="prod1.jpeg" >
          <div class="caixafavoritar">
            <button class="botaofavoritar"> <i class="far fa-heart favoritar"></i> </button>
            <p class="letrafavoritar">FAVORITAR</p>
          </div>
        </div>
        <p class="avisosobreimagem">*Imagem meramente Ilustrativa</p>
      </div>
      <div class="escolherlojaproduto">
        <p class="codigoproduto">Código: 0089756321</p>
        <h1 class="nomeproduto">ARGAMASSA QUARTZOLIT NIVELA RÁPIDO CINZA 20KG</h1>
        <div class="caixacepqntd">
          <div class="caixacep">
            <p class="letracepqntd">Informe seu CEP</p>
            <input class="inputcepqntd" type="text">
          </div>
          <div class="caixaquantidade">
            <p class="letracepqntd">Quantidade</p>
            <input class="inputcepqntd" type="text" placeholder="1">
          </div>
        </div>
        <div class="valores">
          <h1 class="preco">R$ 5,45</h1>
          <label class="fretevalor">
            <span class="frete">Frete a partir de:</span>
            <h3 class=valorfrete>R$ 30,00</h3>
          </label>
        </div>
        <button class="botaoaddcarrinho"><i class="fas fa-shopping-cart iconecarrinho"></i> ADICIONAR AO CARRINHO</button>
        <div class="empresaescolhida">
          <img class="marcaabc" src="abc.png" width="40px" height="40px">
          <div>
            <p class="textoentrega">Entregue por:</p>
            <p class="marcaescolhida">ABC</p>
          </div>
        </div>
        <p class="legendalojas">Estas lojas que entregam seu endereço.</p>
        <div class="lojas">
          <div class="caixaloja">
            <div class="infoloja">
            <i class="far fa-check-circle selecionado"></i>
            <p class="nomemarca">ABC</p>
            </div>
            <h1 class="precolojaselecionada">R$ 5,45</h1>
          </div>

          <div class="caixaloja">
            <div class="infoloja">
            <img class="imgmarca" src="emiolo.png">
            <p class="nomemarca">Emiolo</p>
            </div>
            <h1 class="precoloja">R$ 7,65</h1>
          </div>

          <div class="caixaloja">
            <div class="infoloja">
              <img class="imgmarca" src="qranio.jpeg">
              <p class="nomemarca">Loja teste 5</p>
            </div>
            <h1 class="precoloja">R$ 7,65</h1>
          </div>

          <div class="caixaloja">
            <div class="infoloja">
              <img class="imgmarca" src="leroy.png">
              <p class="nomemarca">Leroy Merlin</p>
            </div>
            <h1 class="precoloja">R$ 5,64</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="infoproduto">
      <h1 class="tituloprod">Argamassa Quartzolit Nivela Rápido Cinza 20kg</h1>
      <p class="descricaoprod">A Argamassa Autonivelante Nivela Rápido  da Quartzolit é um produto autonivelante de recuperação e nivelamento de contrapisos e lajes de concreto. Indicado para pisos laminados, vinílicos, cerâmicos e 
        pedras, com um alto tráfego de pessoas. Conta com um acabamento liso e pode receber aplicação de resina epóxi, desde que seja base 100% sólida ou a base d'água, sem solventes. Imagem Meramente 
        Ilustrativa</p>
        <table class="tabeladetalhesproduto">
          <tr>
            <td><p class="detalhesproduto">Dimensões da unidade mínima</p></td>
            <td>
              <div class="caixadetalhesprod">
                <p class="nomedetalhe">Peso:</p>
                <p class="valordetalhe">10g</p>
                <p class="nomedetalhe">Alt:</p>
                <p class="valordetalhe">10cm</p>
                <p class="nomedetalhe">Larg:</p>
                <p class="valordetalhe">9cm</p>
                <p class="nomedetalhe">Comp:</p>
                <p class="valordetalhe">0cm</p>
                </div>
            </td>
          </tr>
          <tr>
            <td><p class="detalhesproduto">Dimensões da embalagem</p></td>
            <td>
              <div class="caixadetalhesprod">
                <p class="nomedetalhe">Quant:</p>
                <p class="valordetalhe">33</p>
                <p class="nomedetalhe">Peso:</p>
                <p class="valordetalhe">10g</p>
                <p class="nomedetalhe">Alt:</p>
                <p class="valordetalhe">10cm</p>
                <p class="nomedetalhe">Larg:</p>
                <p class="valordetalhe">9cm</p>
                <p class="nomedetalhe">Comp:</p>
                <p class="valordetalhe">0cm</p>
                </div>
            </td>
          </tr>
          <tr>
            <td><p class="detalhesproduto">Cor</p></td>
            <td>
              <div class="caixadetalhesprod">
                <p class="nomedetalhe">Cinza</p>
                </div>
            </td>
          </tr>
        </table>
        <table class="tabeladetalhesprodutoresponsivo">
          <tr><td class="detalhesprodutoresponsivo">Dimensões da unidade mínima</td></tr>
          <tr><td><div class="caixadetalhesprod">
                <p class="nomedetalhe">Peso:</p>
                <p class="valordetalhe">10g</p>
                <p class="nomedetalhe">Alt:</p>
                <p class="valordetalhe">10cm</p>
                <p class="nomedetalhe">Larg:</p>
                <p class="valordetalhe">9cm</p>
                <p class="nomedetalhe">Comp:</p>
                <p class="valordetalhe">0cm</p>
                </div></td></tr>
          <tr><td class="detalhesprodutoresponsivo">Dimensões da embalagem</td></tr>
          <tr><td><div class="caixadetalhesprod">
                <p class="nomedetalhe">Quant:</p>
                <p class="valordetalhe">33</p>
                <p class="nomedetalhe">Peso:</p>
                <p class="valordetalhe">10g</p>
                <p class="nomedetalhe">Alt:</p>
                <p class="valordetalhe">10cm</p>
                <p class="nomedetalhe">Larg:</p>
                <p class="valordetalhe">9cm</p>
                <p class="nomedetalhe">Comp:</p>
                <p class="valordetalhe">0cm</p>
                </div></td></tr>
          <tr><td class="detalhesprodutoresponsivo" >Cor</td></tr>
          <tr><td><div class="caixadetalhesprod">
                <p class="nomedetalhe">Cinza</p>
                </div></td></tr>
        </table>
    </section>
    <section class="produtosrelacionados">
      <h1 class="tituloprodrela">PRODUTOS RELACIONADOS</h1>
      <div class="caixaprodrelacionados">
        <produto v-for="produto in produtos" v-bind:imagem="produto.imagem" v-bind:nome="produto.nome" v-bind:preco="produto.preco"/>
      </div>
    </section>
    <rodape/>
    <rodaperesponsivo/>
  </div>
</template>
<script>
import produto from '~/components/produtos.vue'
import rodape from '~/components/rodape.vue'
import rodaperesponsivo from '~/components/rodaperesponsivo.vue'


export default {
  data: () => ({
    produtos:[
      {"imagem":"/prod1.jpeg", "nome":"ARGAMASSA QUARTZOLIT NIVELA RÁPIDO CINZA 20KG", "preco":"R$5,45"},
      {"imagem":"/prod2.jpeg", "nome":"FIO SÓLIDO SIL 750 V, 1,5MM, 100METROS - BRANCO", "preco":"R$0,45"},
      {"imagem":"/prod3.jpeg", "nome":"ARGAMASSA QUARTZOLIT COLANTE CIMENTCOLA INTERNO 5KG CINZA", "preco":"R$4,43"},
      {"imagem":"/prod4.jpeg", "nome":"CABO FLEXIVEL AMPÉRE DO BRASIL 2,5MM COM 100 METROS-AZUL", "preco":"R$4,53"},
    ]
  }),
  components: {
    produto,
    rodape,
    rodaperesponsivo
}
}
</script>
<style>
.comprarproduto{
  padding: 50px 10%;
  background-color: #fff;
  display:flex;
}
.caixaproduto{
  width: 50%;
  margin-right: 40px;
}
.caixaimagem{
  border: 1px solid #dedede;
  display:flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.imagemdoproduto{
  width:430px;
  height:430px;
}
.caixafavoritar{
position: absolute;
right: 3px;
display: flex;
align-items: center;
flex-direction: column;
}
.botaofavoritar{
  border-radius: 50%;
  border: 1px solid #dedede;
  width: 40px;
  height: 40px;
}
.favoritar{
  font-size: 1.5em;
  color: #e97b26;
}
.letrafavoritar{
  font-size: .7em;
  font-weight: 600;
}
.avisosobreimagem{
  font-size: .8em;
  text-align: center;
}
.escolherlojaproduto{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.codigoproduto{
  font-size: .8em;
  font-weight: 600;
  color:#656565;
}
.nomeproduto{
  font-size: 2em;
  color:#272620;
  font-weight: 700;
  line-height: 1.2em;
}
.caixacepqntd{
  display:flex;
  justify-content: center;
}
.letracepqntd{
  font-size: .8em;
}
.inputcepqntd{
  border:none;
  border-bottom: 1px solid #343434;
  font-size: 1.5em;
  font-weight: 700;
  color: #272620;
  width: 100%;
}
.caixaquantidade{
  margin-left:10px;
  width: 90px;
}
.caixacep{
  width: 160px;
}
.valores{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.preco{
font-size:1.9em;
color:#e97b26;
font-weight: 700;
}
.valorcep{
  color:#656565;
  font-weight: 500;
}
.fretevalor{
  display:flex;
  color:#656565;
  font-weight: 500;
}
.valorfrete{
  font-weight: 700;
  margin-left: 5px;
}
.botaoaddcarrinho{
  margin:10px auto;
  background-color: #e97b26;
  color:#fff;
  font-size: .8em;
  cursor: pointer;
  --corner-square: 10px;
  --corner-square-side: 0;
  --corner-square-smooth: 0;
  --corner-square-angle: calc((var(--corner-square-side) + 1)*90deg + 45deg);
  --corner-square-mask: linear-gradient(var(--corner-square-angle),transparent var(--corner-square),#fff var(--corner-square-smooth));
  -webkit-mask: var(--corner-square-mask);
  mask: var(--corner-square-mask);
  padding: 15px 32px 12px;
}
.iconecarrinho{
  color:#fff;
  margin-right: 5px;
}
.marcaabc{
  border-radius:100px;
  border: 1px solid #dedede;
  margin-right: 5px;
}
.empresaescolhida{
  display:flex;
}
.textoentrega{
  font-size: .8em;
  font-weight: 600;
}
.legendalojas{
  font-weight: 700;
  margin-bottom: 15px;
}
.lojas{
  display:grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.caixaloja{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  padding: 2px 0;
  cursor: pointer;


}
.infoloja{
  display: flex;
  align-items: center;
}
.selecionado{
  color:#e97b26;
  font-size: 60px;
}
.nomemarca{
  font-size:.85em;
  font-weight: 600;
  margin-left: 10px;
}
.precolojaselecionada{
  color:#e97b26;

}
.imgmarca{
  width: 60px;
  height: 60px;
  border-radius:100px;
  border:1px solid #dedede;
}
.precoloja{
  color: #656565;
}
.infoproduto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px;
}
.descricaoprod{
  font-size: .9em;
  line-height: 23px;
  color: #5d5d5d;
  max-width: 900px;
  font-weight: 600;
  margin:20px auto;
}
table{
  border-collapse: collapse;
}
table,tr,td{
  border:2px solid #ccc;
}
.detalhesproduto{
  font-weight: 600;
  margin: 20px 30px;
}
.caixadetalhesprod{
  display:flex;
  margin: 20px 30px; 
}
.valordetalhe{
  margin-right: 50px;
}
.produtosrelacionados{
  padding: 30px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.tituloprodrela{
  font-size:1.5em;
  color:#656565;
  font-weight: 600;
  margin-bottom: 30px;
}
.caixaprodrelacionados{
  max-width: 1192px;
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(250px,1fr));
  grid-gap: 15px;

}
.tabeladetalhesprodutoresponsivo{
  display:none;
}
@media(max-width: 1342px){
  .comprarproduto{
    padding: 50px 20px;
  }
  .caixaproduto{
    width: 70%;
  }
  .imagemdoproduto{
    max-width: 430px;
  }
  .lojas{
    grid-template-columns: 70%;
  }
}
@media(max-width: 857px){
  .comprarproduto{
    flex-direction: column;
    justify-content: center;
  }
  .caixaproduto{
    width: 100%;
    margin-bottom: 50px;
  }
  .imagemdoproduto{
    max-width: 100%;
  }
  .tabeladetalhesproduto{
    display: none;
  }
  .tabeladetalhesprodutoresponsivo{
    display:block;
  }
  .detalhesprodutoresponsivo{
    padding: 10px;
    background-color: #cccccc;
    font-weight: 600;
  }
  .caixadetalhesprod{
    flex-wrap: wrap;
  }
  .produtosrelacionados{
    margin-bottom: 55px;
  }
}
@media(max-width: 452px){
  .caixaproduto{
    height: 300px;
  }
  .imagemdoproduto{
    height: 300px;
    width: auto;
  }
  .caixacepqntd{
    flex-direction: column;
  }
  .lojas{
    grid-template-columns: 100%;
  }
  .infoloja{
    max-width: 50%;
  }
}

</style>